body{
    margin:0;
    padding:0;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1028449436/thumb/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    cursor: pointer;
}

button,input,textarea{
    border:0;
    outline:0;
}