<div class=headeradspace>
    <p>შენი რეკლამის ადგილი </p>
</div>
<div class=Welcome>
    <h1> მოგესალმებათ Unknown.Ge!</h1>
</div>

<div class="welcomepageicons">

    <div class=iconbox>
        <img src="Main Page Photos\2.png">
        <p id="meet">გაიცანი ახალი ადამიანები</p>
    </div>

    <div class=iconbox>
        <img src="Main Page Photos\1.png">
        <p id="anonym">ანონიმურობა დაცულია</p>
    </div>

</div>

</div>
<div id=Button>
<a href="#" style="--clr:purple">
<span id="start_chat">საუბრის დაწყება</span>