<!-- 

<div id="headeradvertisment">
    <p> შენი რეკლამის ადგილი </p>
</div>

<div class=footermenuads>
    <p> FB </p>
    <div id="adspaceinfooter"></div>
    <p> Ad Space </p>

    <div class=choosegender id="choosegender">
        <div class="title">
            <h1>Unknown.Ge</h1>
        </div>
        <div class="gender_selection">
            <input type="text" name="" id="username" >

            <select name="gender" id="user_gender">    
                <option value="" selected disabled>შენი სქესი</option>
                <option value=1>მამრობითი</option>
                <option value=2>მდედრობითი</option>
                <option value=3>სხვა</option>
            </select>
            <select name="opgender" id="partner_gender">
                <option value="" selected disabled>მოსაუბრის სქესი</option>
                <option value=1>მამრობითი</option>
                <option value=2>მდედრობითი</option>
                <option value=3>ყველა</option>
            </select>
            <button id="add">დაიწყეთ საუბარი</button>
        </div>
    </div>
</div> -->


<div class="select_container">

    <div class="select_title">
        <h1>Unknown.Ge</h1>
    </div>

    <div class="select_inputs">
        <input type="text" name="" id="username">

        <select name="" id="user_gender">
            <option value="" selected disabled>შენი სქესი</option>
            <option value="1">მამრობითი</option>
            <option value="2">მდედრობითი</option>
        </select>

        <select name="" id="partner_gender">
            <option value="" selected disabled>პარტნიორის სქესი</option>
            <option value="1">მამრობითი</option>
            <option value="2">მდედრობითი</option>
        </select>

        <button id="add">დაიწყეთ საუბარი</button>
    </div>
</div>