<!-- home Works!
<div class="main_page">
    <input type="text" name="name" id="username">

    <select name="gender" id="user_gender" required>
        <option value="" disabled selected>Your Gender</option>
        <option value="1">male</option>
        <option value="2">female</option>
        <option value="4">terminator</option>
        <option value="3">other</option>
    </select>
    <select name="gender" id="partner_gender" required>
        <option value="" disabled selected >Partner Gender</option>
        <option value="1">male</option>
        <option value="2">female</option>
        <option value="4">terminator</option>
        <option value="3">other</option>
    </select>
    <button id="add">add</button>
</div> -->


<div id="headeradvertisment">
    <p> შენი რეკლამის ადგილი </p>
</div>

<div class=footermenuads>
    <p> FB </p>
    <div id="adspaceinfooter"></div>
    <p> Ad Space </p>

    <div class=choosegender id="choosegender">
        <div class="title">
            <h1>Unknown.Ge</h1>
        </div>
        <div class="gender_selection">
            <input type="text" name="" id="username" >

            <select name="gender" id="user_gender">    
                <option value="" selected disabled>შენი სქესი</option>
                <option value=1>მამრობითი</option>
                <option value=2>მდედრობითი</option>
                <option value=3>სხვა</option>
            </select>
            <select name="opgender" id="partner_gender">
                <option value="" selected disabled>მოსაუბრის სქესი</option>
                <option value=1>მამრობითი</option>
                <option value=2>მდედრობითი</option>
                <option value=3>ყველა</option>
            </select>
            <button id="add">დაიწყეთ საუბარი</button>
        </div>
    </div>