<div class="adspace3">
    <p>შენი რეკლამის ადგილი</p>
</div>

<div class="user_menu">
    <p id="start_search">ახალი მოსაუბრის პოვნა</p>
    <p id="stop_search">ძებნის გაუქმება</p>
</div>

<div class="chat_container">

    <div class="messages">
        <div class="partner">
            <p>partner</p>
        </div>
        <div class="user">
            <p>user</p>
        </div>
    </div>

    <div class="send">
        <div class="cancel_next">
            <button id="go_nect">შემდეგზე გადასვლა</button>
            <button id="cancel">გამორთვა</button>
        </div>  
        <div class="input_container">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button id="start">გაგზავნა</button>
        </div>
    </div>

</div>

